<!-- volver component -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catbreeds
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar show-clear-button="focus" value=""  animated="true" placeholder="Buscar por raza"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<!-- ------------------- -->
<ion-content [fullscreen]="true" color="secondary">
  <div class="cat-list-container">
    @for(cat of catList(); track cat; let idx = $index) {
      <!-- cat card component -->
      <app-cat-card [setCat]="cat"></app-cat-card>
    }
  </div>
  @if(hasMoreData) {
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  }
  <!-- ----------------- -->
</ion-content>
